# Kompatibilitets option
Options +FollowSymLinks

# Aktiver Mod_rewrite modul
RewriteEngine On

# Sti til hvor vi arbejder
# RewriteBase /

#RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

#Redirect 301 /login https://login.coffee.build

#RewriteRule ^edit/? edit.php [QSA,L]

ErrorDocument 400 /errorDocument.php?error=400
ErrorDocument 401 /errorDocument.php?error=401
ErrorDocument 403 /errorDocument.php?error=403
ErrorDocument 404 /errorDocument.php?error=404
ErrorDocument 408 /errorDocument.php?error=408
ErrorDocument 410 /errorDocument.php?error=410
ErrorDocument 500 /errorDocument.php?error=500